*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: block;
    font-family:"Gotham";
    font-weight: 300;
}
html{
    scroll-behavior: smooth;

}
@font-face {
    font-family: "Gotham";
    src: url(./fonts/GothamBook.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(./fonts/GothamMedium.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url(./fonts/GothamBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
.container {
    overflow:auto;
    margin: auto;
    font-family: "Gotham";
}

.main .fa-sort-down{
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: center;
    padding-left:53% ;
    padding-top: 45px;
    font-size: 40px;
  
}
#div_page_2 .fa-sort-up{
    text-decoration: none;
    color:black;
    float:right;
    padding-left:53rem;
    padding-top:10px;
    font-size: 40px;
}


 #div_page_1 {
   display: block;
   background-image: url("../img tesla/model-3-hero-desktop.jpg");
   background-repeat: no-repeat ;
   height: 110vh;
   background-size: cover;
   background-position: center;
}

.main-nav a {
    display: inline-block;
    padding-left: 16px;
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    font-family: "Gotham";
    font-weight: 700;
} 

.main-nav li {
    display: inline-block;

} 
.sidenav {
   
    width: 150x; 
    position: fixed;
    z-index: 1;
   padding-left: 5px;
    overflow-x: hidden; 
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 5px 20px 10px 5px;
    text-decoration: none;
    font-size: 14px;
    color:transparent;
    display: block;
    font-family: "Gotham";
    font-weight: 700;
  }
  
  .sidenav a:hover {
    color: #fff;
  }
 

  .name{
      border-left: 3px solid rgb(44, 42, 42);
      padding: 10px;
      margin: 5px 5px;
  }

 
.order1 {
    text-decoration: none;
    border:3px solid#fff;
    color:#fff;
     border-radius: 20Px;
     float: center;
     text-align: center;
     font-family:'Segoe UI';
     padding: 8px 30px;
     font-size: 14px;
     margin-bottom: 20rem;
    margin-left: 2rem;
    width: 150px;
     
}
.order1:hover {
    background-color: #fff;
    color: black;
}

      #img_page_2 {
        display: flex;
        background-image: url("../img tesla/model_3_safety_hero.png");
        background-repeat: no-repeat ;
       height: 100vh;
       width: 70%;
       background-size: cover;
       text-align: center;
       float: right;
    }
    
  #div_left_side{
    color:var(--tds-color--grey20);
    font-size: 16px;
    text-align: left;
    float: left;
    width: 30%;
    padding: 1rem;
    font-family: "Gotham";
    font-weight: 700;
    padding-left: 2rem;
  }

#top{
    padding-top: 15px;
}
  #div_left_side h2 {
      font-size: 30px;
      font-family: "Gotham";
      font-weight: 400;
  
  }
  #div_left_side p {
      margin-top: 60px;
      margin-bottom: 80px;
      color: rgb(57, 60, 65);
      font-family: "Gotham";
      font-weight: 300;
      font-size: 18px;
      width: 85%;
      
  }

  #div_left_side li a{
color:var(--tds-color--grey20);
text-decoration: none;
font-size: 16px;
font-family: "Gotham";
font-weight: 400;

  }
  #div_left_side li{
    list-style-type: none;
  }

.order {
    background-color: #fff;
    border:3px solid rgb(44, 43, 43);
    color:rgb(44, 43, 43);
     border-radius: 20Px;
     text-decoration: none;
     float: RIGHT;
     width: 150px;
     text-align: center;
     font-family:'Segoe UI';
     padding: 8px 10px;
     font-size: 14px;
     margin-top: 30px;
    
}
.order:hover {
    color: #fff;
    background-color: black;
}
.more {
    color:rgb(44, 43, 43);
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI';
   padding-top: 10px; 
    padding-left: 1rem;
    font-size: 14px;
    margin-left: 20px;
  display: inline-block;
  padding-top: 42px;
   
}

#div_header{
    width: 100%;
    text-align :center;
    padding-top: 20px;
    display: block;

}
#div_logo{
    width: 100%;
    text-align :center;
    padding-top: 55px;
    display: block;
    font-size: 50px;
    color:#fff;
    font-family: "Gotham";
    font-weight: 400;

}
#footer {
    width: 100%;
    text-align :center;
    padding-top: 290px;
    display: inline-block;
    font-size: 40px;
    color:#fff;
    font-family: "Gotham";
    font-weight: 400;
    text-decoration: none;
    padding-left: 190px;
  
}
#footer span{
    
        border-left: 1px solid #fff;
        padding: 25px;
        margin: 5px 5px;
     
}

#div_page_3 {

   height: 100vh;
   width: 100%;
   background-size:cover;
   text-align: center;
   float: right;
   display: block;

}
#top_img{
    background-image:url("../img tesla/lhd-performance-hero-desktop.jfif");
    height: 50%;
    width: 100%;
    display: flex;
    background-repeat: no-repeat ;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

#top_img li a{
    color:var(--tds-color--grey20);
    text-decoration: none;
    font-size: 16px;
    font-family: "Gotham";
    font-weight: 400;
    font-weight:bold;
    float: left; 
    padding-top: 20px;
    padding-left: 10px;;
}
#top_img li {
 list-style-type: none;
    
}
     
#div_right {
    display: flex;
   height: 50vh;
   width: 65%;
   background-size: cover;
   text-align: center;
   float: right;
}
#div_right p {
    margin-top: 60px;
    color: rgb(57, 60, 65);
    font-family: "Gotham";
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    padding-right: 210px;
    padding-left: 80px;
    width: 100%;
}
#div_left {
    color:var(--tds-color--grey20);
    font-size: 16px;
    text-align:left;
    float: left;
    width: 35%;
    font-family: "Gotham";
    font-weight: 400;
    padding-left: 8rem;
 
}

.order3 {
    background-color: #fff;
    border:3px solid rgb(44, 43, 43);
    color:rgb(44, 43, 43);
     border-radius: 20Px;
     text-decoration: none;
     float: RIGHT;
     width: 150px;
     text-align: center;
     font-family:'Segoe UI';
     padding: 8px 10px;
     font-size: 14px;
     margin-top: 40px;
    
}
.order3:hover {
    color: #fff;
    background-color: black;
}
.more2 {
    color:rgb(44, 43, 43);
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 14px;
  display: inline-block;
  padding-top: 53px;
  padding-left: 25px;

}
    
.plus {
    background-color: #fff;
    border:3px solid rgb(44, 43, 43);
    color:rgb(44, 43, 43);
     border-radius: 20px;
     text-decoration: none;
     padding: 5px 10px;
    
}
.plus:hover {
    background-color: black;
    color: #fff;
}
#header {
    width: 100%;
    text-align :center;
    padding-top: 180px;
    display: inline-block;
    font-size: 40px;
    color:#fff;
    font-family: "Gotham";
    font-weight: 400;
    text-decoration: none;
    padding-left: 20px;
  
}
#header span{
        border-left: 1px solid #fff;
        padding: 25px;
        margin: 5px 5px;
     
}

#div_page_4 {
    height: 100vh;
    width: 100%;
    background-size:cover;
    text-align: center;
    float: right;
    display: block;
 
 }
 #top_img4{
     background-image:url("../img tesla/lhd-awd-hero-desktop.jpg");
     height: 50%;
     width: 100%;
     display: flex;
     background-repeat: no-repeat ;
     display: inline-block;
     background-size: cover;
     background-position: center;
 }
 #div_page_4 .order3 {
    margin-top: 30px;
    margin-right: 170px;

 }
 #top_img4 li a{
    color:var(--tds-color--grey20);
    text-decoration: none;
    font-size: 16px;
    font-family:'Segoe UI';
    font-weight:bold;
    float: left; 
    padding-top: 20px;
    padding-left: 10px;;
}
#top_img4 li {
 list-style-type: none;
    
}
#div_right p {
    font-family: "Gotham";
    font-weight: 300;
    font-size: 18px;
}